@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&family=Rubik:wght@300&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
}
/* INFO */
.info{
    display: flex;
    justify-content: center;
    padding: 0rem 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #15536C;
}
.info_h1{
    font-size: 3em;
    padding-bottom: 1rem;
}
.info_h3{
    font-size: 1.2em;
    color: #15536C;
    text-decoration: none;
}
.info_h3_h3{
    font-size: 1.2em;
    color: #2fbf71;
    text-decoration: none;
}
@media(min-width: 992px){
    .info{
        display: flex;
        justify-content: center;
        padding: 5em 0 3em 0;
        color: #15536C;
    }
    .info_h1{
        font-size: 3.5em;
        padding-bottom: 1rem;
    }
    .info_h3{
        font-size: 1.5em;
        text-decoration: none;
    }
}
/* FORM */
.label{
    font-size: 20px;
    font-weight: 600;
}
.input{
    color: white;
    margin: 0.5em 0;
    font-size: 18px;
    padding: 1rem 1rem;
    background-color:#373D4D;
    border: solid 1px grey;
    outline: none;
    width: 17em;
    height: 3.5em;
}
.input_area{
    color: white;
    margin: 0.5em 0;
    font-size: 18px;
    padding: 1rem 1rem;
    background-color:#373D4D;
    border: solid 1px grey;
    outline: none;
    width: 17em;
    height: 10em;
    resize: none;
}
.form{
    display: flex;
    justify-content: center;
}
.form_right{
    padding: 2rem 1rem;
}
.form_left{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}
.form_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit{
    color: #243443;
    font-size: 14px;
    padding: 0.8rem 1.8rem;
    font-weight: 900;
    background-color: #78dba4;
    border-radius: 1.4rem;
}
.submit:hover{
    background-color: #cbf4f7;
}
.form_area_sub{
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
}
.form_left{
    padding: 0rem 3rem 3rem 3rem;
    text-align: justify;
}
.link{
    text-decoration: none;
    font-weight: 600;
    color: #2fbf71;
}
:hover.link{
    color: #0097ff;
    border-bottom: 2px solid ;
}

@media(min-width: 768px){
    .input{
        width: 30em;
        height: 4em;
    }
    .input_area{
        width: 30em;
    }
    .form_left{
        padding: 1.5em 0.5rem;
        padding-bottom: 3rem;
    }
}

@media(min-width: 992px){
    .form_container{
        display: flex;
        justify-content: center;
    }
    .form_center{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .input{
        margin: 0.5rem 1rem;
        width: 17em;
        height: 3.5em;
    }
    .label{
        font-size: 1.3rem;
        margin: 0.5rem 1rem;
    }
    .form_area_sub{
        padding: 0.5rem 1rem;
    }
    .input_area{
        width: 36em;
    }
    .form_left{
        padding: 2rem 3rem 3rem 3rem;
    }
}
.footer{
    background:#333;
    padding: 4rem 0;   
    text-align: center;
    margin-top: 6rem;
}
.footer p{
    color: white;
}