*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}
.all-container{
    background-color: #243443;
    background-image: url(/Marcos/img/Back-Contact.jpg);
    background-size: cover;
    position: absolute;
    height: 75rem;
    width: 100%;

}
/* grid2 */
.content-center {

    display: grid; 
    grid-template-columns: 0.5fr 0.9fr 1fr 0.4fr; 
    grid-template-rows: 0.5fr 0.7fr 2.3fr 0.5fr; 
    gap: 0px 1px; 
    grid-template-areas: 
    ". . . ."
    ". contacto contacto ."
    ". grid grid1 ."
    ". . . ."; 
}
.contacto { grid-area: contacto; }
.grid { grid-area: grid; }
.grid1 { grid-area: grid1; }
/* navegador */
.nav-citrica {
    display: grid; 
    grid-template-columns: 0.7fr 1.2fr 2.3fr 0.6fr 0.6fr 0.6fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 1px; 
    grid-template-areas: 
    ". logo . home showcase contact ."; 
    background-color: #243443;
    padding: 1rem 1rem 1rem 1rem; }
.logo { grid-area: logo; }
.home { grid-area: home; }
.showcase { grid-area: showcase; }
.contact { grid-area: contact; }

.link-1{
    text-decoration: none;
    padding: 1rem;
}
:hover.link-1{
    color: #eae738;
    background-color: #3f4b67;
}
/* encabezado */
.h1{
    padding:0 2rem;
    font-size: 39.253px;
    padding-bottom: 1rem;
    padding-top: 3rem;
}
.h2{
    padding:0 2rem;
    padding-top: 2rem;
    font-size: 20px;
    font-weight: 200;
}
.h2-1{
    padding:0 2rem;
    padding-bottom: 3rem;
    font-size: 20px;
    font-weight: 200;
}
.h3{
    font-size: 17px;
}
.link{
    color: #5bbdc8;
    text-decoration: none;
    font-size: 17px;
}
:hover.link{
    color: #eae738;
}
/* zona de formulario */
.container-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.label{
    font-size: 17px;
    text-align: start;
}
.box{
    margin-top: 0.2em;
    font-size: 13px;
    padding: 0.7rem 1rem;
    background-color:#373D4D;
    border: solid 1px grey;
    outline: none;
    width: 13.5rem;
}
.select-box{
    margin-top: 0.2em;
    font-size: 13px;
    padding: 0.7rem 1rem;
    background-color:#373D4D;
    border: solid 1px grey;
    outline: none;
    width: 15.6rem;
}
.form-date{
    padding-bottom: 2.5rem;
}
.area-box{
    margin-top: 0.2em;
    font-size: 13px;
    padding: 0.7rem 1rem;
    background-color:#373D4D;
    border: solid 1px grey;
    outline: none;
    width: 30rem;
    margin-right: 1.5rem;

}
.area{
    display: flex;
    justify-content: center;
}
textarea{
    resize:none;
}
.form{
    padding:0 2rem;
}
.font-submit{
    color: #243443;
    font-size: 14px;
    padding: 0.8rem 1.8rem;
    font-weight: 800;
    background-color: #eae738;
    border-radius: 1.4rem;
}
:hover.font-submit{
    background-color: #5bbdc8;
}
/* formulario parte izquierda */

/* formulario parte derecha */
.container-left{
    margin-right: 1rem;
}
